{% extends "base.html" %}
{% block content %}
<h2 class="fw-bold text-danger">🚨 Reported Incidents</h2>
<p class="text-muted">List of recent emergencies and their status.</p>

<table class="table table-hover shadow-sm">
  <thead class="table-light">
    <tr>
      <th>Type</th>
      <th>Severity</th>
      <th>Description</th>
      <th>Location</th>
    </tr>
  </thead>
  <tbody>
    {% for i in incidents %}
    <tr>
      <td>{{ i.emergency_type }}</td>
      <td><span class="badge bg-{{ 'danger' if i.severity=='high' else 'warning' }}">{{ i.severity }}</span></td>
      <td>{{ i.description }}</td>
      <td>📍 {{ i.location.latitude }}, {{ i.location.longitude }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
